<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clima en tu Ciudad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🌤️ Consulta el clima</h1>
	<h2>Por Monsalvo Pol</h2>
        <form method="POST">
            <input type="text" name="ciudad" placeholder="Ingresa una ciudad" required>
            <button type="submit">Ver clima</button>
        </form>

        {% if clima %}
            {% if clima.error %}
                <p class="error">{{ clima.error }}</p>
            {% else %}
                <div class="resultado">
                    <h2>{{ clima.ciudad }}, {{ clima.pais }}</h2>
                    <p class="temp">{{ clima.temperatura }}°C</p>
                    <p class="desc">{{ clima.descripcion }}</p>
                    <img src="http://openweathermap.org/img/wn/{{ clima.icono }}@2x.png" alt="Icono del clima">
                </div>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
